{% extends 'base.html' %}
{% load static %}
{% block title %}
About Page
{% endblock %}

{% block body %}
<h2><strong>About me:</strong></h2>
<img src="{% static "pics/0.jpg" %}" width=120 alt="Oops, image not found">
<br>
<br>
<h4>&ensp;Enthusiastic junior software developer with excellent problem solving skills and eagerness to learn. Mechanical engineering graduate with good background knowledge on various engineering aspects. Looking to leverage my technical skills and knowledge to establish a career as a software developer.</h4>
<p>Please find contact info in the resume I sent you.</p>
{% endblock %}
